* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-size: 3.3em;
}
h2 {
  font-size: 2.7em;
  color: orange;
}
p {
  font-size: 1.25em;
}

/* header = creacion de el header */

/* barra de navegaciones */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: beige;
  z-index: 100;
  padding: 10px ;
}



.enlace {
  position: absolute;
  
}

.logo {
  height: 100px;
  width: 100px;
  margin: 5px;
  
 
}

nav ul {
  text-align: center;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* nav animacion de botones */

li a:hover {
  font-size: 19px;
  transition: 0.2s;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

/* animaciones  para movil y cambiar el header por un boton*/

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F5DA81;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-decoration: center;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: white;
    font-size: 21;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

body {
    text-align: center;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol{
    list-style: none;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    
}
.header{
    height: 60vh !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imagenes/app.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

p {
    margin-bottom: 40px;
    font-size: 15px;
    color: white;
    padding: 0 100px;
}

.btn{
    margin-top: 30px;
    padding: 6px;
    border-radius: 12px;
    background-color: rgba(254, 204, 111, 0.4);
    color: white;
    border: solid 1px white;
}

.btn:hover{
    background: none;
}
.btn-home{
    display: flex
}
.btn-home a{
    margin: 0 10px;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 30px;
    background-color: black;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box9{
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    color: white;
}

.box-container .box9 i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50% ;
    color: white;
    background: orange;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box9 h3 {
    font-size: 20px;
    color: white;
}
.box-container .box9 p{
    font-size: 16px;
    padding: 0px 16px;
}

.about{
    background-color: #101010;
}
.price{
    background: url(../imagenes/tecnologia.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact{
    padding-top: 20px;
    background-color: black;
    padding-bottom: 0px;
}

@media  (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;

    }
    .sau{
        height: 120vh;
    }
}

.tituloheader{
  color: #333;
  font-family: cursive;
  font-size: 50px;
  }