/* codigo creado por Juan Carvajal - Valentina Cortes */
/* estilos globales */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1 {
  font-size: 3.3em;
}
h2 {
  font-size: 2.7em;
  color: orange;
}
p {
  font-size: 1.25em;
}

/* header = creacion de el header */

/* barra de navegaciones */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: beige;
  z-index: 100;
  padding: 10px ;
}



.enlace {
  position: absolute;
  
}

.logo {
  height: 100px;
  width: 100px;
  margin: 5px;
 
}

nav ul {
  text-align: center;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* nav animacion de botones */

li a:hover {
  font-size: 19px;
  transition: 0.2s;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

/* animaciones  para movil y cambiar el header por un boton*/

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1400px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #F5DA81;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    text-decoration: center;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: white;
    font-size: 21;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*primera section hero (index html)*/

#masspollo .container {
  text-align: center;
  padding: 200px 20px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  clear: both;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imagenes/pollo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 170px;
}
#hero button {
  margin-top: 30px;
  padding: 6px;
  border-radius: 12px;
  background-color: rgba(254, 204, 111, 0.4);
  color: white;
  border: solid 1px white;
}
#hero button:hover {
  background-color: rgba(254, 204, 111, 0.8);
  font-size: 15px;
  cursor: pointer;
}

/* inicio de creacion catalogo (catalogo.html)*/

.quienes-somos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px auto;


}



.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  flex: 1;
  padding: 20px;
}

.texto h2 {
  font-size: 40px;
  padding: 10px;
  color: #333;
}

.texto p {
  font-size: 25px;
  color: #555;
}

.imagen {
  flex: 1;
  text-align: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
}

/* creacion del footer */
/* Estilo para el footer */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pie-pagina {
  border-top: 1px solid black; 
  background-color: beige;
  padding: 20px 0; 
  text-align: center;
  margin-top: 20px;
}

/* Estilos para la primera sección del footer */
.pie-pagina .grupo-1 {
  max-width: 1200px;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 20px 0; 
}

.pie-pagina .grupo-1 .box figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  max-width: 100%; 
}

.pie-pagina .grupo-1 .box h2 {
  color: black;
  font-size: 20px;
  margin: 0; 
}

.pie-pagina .grupo-1 .box p {
  color: black;
  margin: 0; 
  
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: black;
  text-align: center;
  transition: color 0.3s ease; 
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: orange;
}

/* Estilos para la segunda sección del footer */

.pie-pagina .grupo-2 {
  border-top: 1px solid black;
  background-color: black;
  padding: 15px 0;
  text-align: center;
  color: white;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* creacion de section de productos (catalogo.html)*/

#galeria {
  display: flex;
  text-align: center;
  justify-items: center;
  width: 100%;
  height: 600px;
  margin-top: 40px;
}

#galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5 ease;
}

#galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.titulo-catalogo {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.titulo-catalogo hr {
  color: orange;
}

/* diseño de productos*/

.productos {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); 
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.producto {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.producto-imagen img {
  max-width: 300px;
  height: 300px;
  border-radius: 5px 5px 0 0;
  
}

.producto-info {
  padding: 20px;
}

.producto-info h2 {
  font-size: 24px;
  margin: 0;
}

.producto-info p {
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}

.precio {
  font-size: 20px;
  color: #e74c3c;
  margin-top: 10px;
}

.boton-comprar {
  display: block;
  width: 100px;
  padding: 10px 20px;
  background-color: orangered;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

.boton-comprar:hover {
  background-color: orange;
}

/* copy-paste de el hero para la seccion de contactos (contacto.html) */

#hero2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  clear: both;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imagenes/fondo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Estilos para la sección  */
#hero2 {
  background-color: #ff6600;
  text-align: center;
  padding: 50px 0;
  color: #fff;
}

.box2 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  margin: 40px;
}

.social-icons2 a {
  font-size: 100px; 
  color: white;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;

  border-radius: 50%; 
  padding: 10px 40px;
}

.social-icons2 a:hover {
  color: cadetblue;
  border-color: white;
}

.bt1 {
  background-color: cadetblue;
  color: #fff;
  font-size: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 40px;
}

.bt1:hover {
  background-color: #ff4500;
}

/* Estilo para la sección de contacto */

.contact-section {
  display: flex;
  flex-direction: column; 
  background-color: #f7f7f7;
  text-align: center;
  padding: 50px 0;
  height: 100vh; 
  justify-content: center; 
  align-items: center; 
}

.container {
  max-width: 1100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: auto;
}

.contact-content {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
}

.contact-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.contact-description {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

/* Estilo para el formulario de quejas (contacto.html) */
.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 18px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.form-input {
  resize: none;
}

.form-button {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #555;
}

.contact-section{
  background: linear-gradient(to right, lightgray, gray);

}

.t2{
  color: black;
}

/* estilos de la section de cards (index.html)*/


.cards-container1{
  display: inline-block;
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f7f7f7;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .2);
  cursor: default;
  transition: all 400ms ease;
  border: solid 1px orange;
  padding: 5px;
  
  
}
.cards-container1:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .9);
  transform: translateY(-3%);
}

.cards1 {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  
}


.cards-container1 img {
  width: 100%;
  height: 200px;
  opacity: 0.8;
  transition: 0.5s ease;
  
}
.cards-container1 img:hover {
  opacity: 1;
  
}

.cards-container1 .contenido-cartas{
  padding: 15px;
  text-align: center;
}
.cards-container1 .contenido-cartas p{
  line-height: 1.5;
  color: black;
}
.cards-container1 .contenido-cartas h3{
  line-height: 1.5;
  color: black;
}
.cards-container1 .contenido-cartas a{
  text-align: center;
  border:  1px solid orange;
  color: orange;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
  transition: 400ms ease;
}

.cards-container1 .contenido-cartas a:hover{
  background-color: orange;
  color: white;
}

.mas-cosas{
  background-color: beige;
}

#map {
	height: 500px;
	width: 100%;
  
}
.mapaUbi {
  
  margin-top: 10px;
}

.img{
  width: 1000px;
  height: 1000px;
}

.tituloheader{
color: #333;
font-family: cursive;
font-size: 50px;
}


  
/* creacion slider */

.ts{
  text-align: center;
  font-family: cursive;
}

.slider-frame {
	width: 100%;
  height: 80%;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
  height: 100%;
	
	animation: slide 10s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
  height: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
  height: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
